{%extends "base.html"%}
{% load bootstrap5 %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="container">
<div class="row" style="padding-top: 30px;">
    <div class="col">
       <img src="https://images.unsplash.com/photo-1476385822777-70eabacbd41f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmVpZ2hib3VyaG9vZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="" style="width: 600px;">
    </div>

    <div class="col">
        <h1>Welcome to Watchdogs</h1>
        <p>This is an application where users can log in to their respective Neighbourhoods and view businesses,posts and all activities taking place in that neighbourhood</p>
        
        <p>Login to your community</p>
         
        <p style="color: crimson; font-weight: bold;">WELCOME!</p>
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'register'  %}" class="btn btn-outline-danger">Register Now</a>
            </div>
            
            <div class = "col-md-4">
                <small class="text-muted">
                    Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}